In [69]:
import pandas as pd

In [70]:
# Load files
pybank=pd.read_csv("budget_data.csv")
pybank

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [77]:
Total_Month=pybank["Date"].count()
Total_Month

86

In [83]:
Total_Net=pybank["Profit/Losses"].sum()
Total_Net

38382578

In [111]:
Total_Avg=pybank["Profit/Losses"].mean()
Total_Avg

446309.0465116279

In [113]:
semi_complete={
    "Total Month":Total_Month, 
    "Total Net":Total_Net,
    "Total Avg":Total_Avg
}
semi_complete

{'Total Month': 86, 'Total Net': 38382578, 'Total Avg': 446309.0465116279}